.r-calendar{
    background-color: gray;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    font: normal 15px Helvetica Neue, Helvetica, Arial, sans-serif;
    min-width: 280px;
}
.r-calendar *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.r-calendar .r-row{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
}
.r-calendar .r-cell{
    background-color: white;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.r-calendar .r-head{
    flex-grow: 1;
    flex-basis: 0;
}

.r-calendar .r-title{
    padding-left: 10px;
    flex-grow: 5;
    font-size: 40px;
    flex-basis: max-content;
    justify-content: flex-start;
}
.r-calendar .r-weekdays{
    flex-grow: 1;
    flex-basis: 0;
}
.r-calendar .r-weekdays .r-cell{
    font-weight: bold;
}
.r-calendar .r-dates{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 6;
    text-align: right;
    justify-content: center;
    flex-basis: 0;
}
.r-calendar .r-dates.r-fix{
    flex-grow: 5;
}
.r-calendar .r-dates .r-row{
    flex-grow: 1;
}
.r-calendar .r-dates .r-cell{
    background-color: #ffffff;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}
.r-calendar .r-cell.r-date{
    cursor: pointer;
    outline: none;
}
.r-calendar .r-weeknum{
    color: #999999;
    font-size: 0.8em;
}
.r-calendar{
    position: relative;
    width: 100%;
}
.r-calendar:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.r-calendar .r-inner{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}